@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-copy:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "RobotoCondensed";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "RobotoCondensed";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0B0B0B;
  line-height: 1.1666666667;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: relative;
}

@supports (height: clamp( 37.5rem , 29.1847354727rem  +  17.3460537728vw , 50rem )) {
  .header {
    height: clamp( 37.5rem , 29.1847354727rem  +  17.3460537728vw , 50rem );
  }
}

@supports not (height: clamp( 37.5rem , 29.1847354727rem  +  17.3460537728vw , 50rem )) {
  .header {
    height: calc(37.5rem + 12.5 * (100vw - 47.9375rem) / 72.0625);
  }
}

.header__slider {
  margin: 0 auto;
  max-width: 100rem;
  max-height: 50rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__slide {
  width: 100%;
  height: 100%;
  padding-bottom: 49%;
  position: relative;
}

.header__slide::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.header__container {
  position: relative;
  z-index: 2;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.1875rem 0rem 0rem 0rem;
  margin: 0rem 0rem 1.875rem 0rem;
  position: relative;
}

.header__title {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.1666666667;
  margin: 0rem 0rem 2.5rem 0rem;
}

@supports (font-size: clamp( 4.375rem , 3.8035714286rem  +  2.8571428571vw , 6rem )) {
  .header__title {
    font-size: clamp( 4.375rem , 3.8035714286rem  +  2.8571428571vw , 6rem );
  }
}

@supports not (font-size: clamp( 4.375rem , 3.8035714286rem  +  2.8571428571vw , 6rem )) {
  .header__title {
    font-size: calc(4.375rem + 1.625 * (100vw - 20rem) / 56.875);
  }
}

.header__text {
  width: 17.75rem;
  margin: 0rem 0rem 1.5625rem 0rem;
}

.menu__body {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 50rem;
  top: 0;
  right: -100%;
  overflow: auto;
  background-color: #0B0B0B;
  padding: 5.625rem 0rem 0rem 0rem;
  -webkit-transition: right 0.5s ease 0s;
  -o-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
}

.menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 5rem;
  z-index: 6;
}

.menu-open .menu__body {
  right: -40%;
}

.menu__list {
  padding: 0rem 0rem 0rem 6.25rem;
}

.menu__item {
  padding: 0rem 0rem 1.5625rem 0rem;
  margin: 0rem 0rem 1.5625rem 0rem;
  border-bottom: 0.0625rem solid #B70021;
  max-width: 23.125rem;
}

.menu__link {
  font-size: 3rem;
  line-height: 1.1666666667;
  font-weight: 700;
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  cursor: pointer;
  z-index: 6;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  min-height: 18.75rem;
}

.footer__body {
  background-color: #690102;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.3125rem 0rem 0rem 0rem;
}

.footer__btn {
  margin: 0rem 0rem 5.3125rem 0rem;
}

.footer__menu {
  padding: 0rem 0rem 1.25rem 0rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  position: relative;
  margin: 0rem 0.625rem 0rem 0rem;
  padding: 0rem 0.75rem 0rem 0rem;
}

.footer__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.0625rem;
  height: 1.375rem;
  background-color: #fff;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link span {
  margin: 0rem 0.625rem;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 12.5rem;
  bottom: 1.5625rem;
  z-index: 3;
}

@supports (left: clamp( 6.25rem , 2.2610921502rem  +  8.5324232082vw , 12.5rem )) {
  .swiper-pagination {
    left: clamp( 6.25rem , 2.2610921502rem  +  8.5324232082vw , 12.5rem );
  }
}

@supports not (left: clamp( 6.25rem , 2.2610921502rem  +  8.5324232082vw , 12.5rem )) {
  .swiper-pagination {
    left: calc(6.25rem + 6.25 * (100vw - 46.75rem) / 73.25);
  }
}

.swiper-pagination-bullet {
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #0B0B0B;
  border-radius: 50%;
  margin: 0rem 1.25rem 0rem 0rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.bg {
  width: 3.125rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.15);
  border: 0.0625rem solid #fff;
  position: absolute;
  top: 2.6875rem;
  right: -0.625rem;
  z-index: 6;
}

.plus {
  position: relative;
}

.plus::after {
  content: "+";
  position: absolute;
  top: 0.625rem;
  right: -0.3125rem;
  font-size: 0.875rem;
}

.btn {
  padding: 1.875rem 3.875rem;
  border: 0.0625rem solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
  max-width: 17.875rem;
  cursor: pointer;
}

.tech {
  margin: 0rem 0rem 6.25rem 0rem;
}

.tech__info {
  margin: 0rem 0rem 6.25rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tech__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  text-align: center;
}

.tech__text {
  margin: 0rem 0rem 1.25rem 0rem;
}

.tech__num {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 6rem;
  line-height: 1.1666666667;
  margin: 0rem 0rem 0.625rem 0rem;
}

.tech__subnum {
  font-family: "RobotoCondensed";
  font-size: 1.5rem;
  line-height: 1.1666666667;
}

.tech__subtext {
  color: #B70021;
}

.tech__image {
  max-height: 25rem;
  max-width: 75rem;
  padding-bottom: 32%;
}

.speed {
  margin: 0rem 0rem 6.25rem 0rem;
}

.speed__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 6.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (row-gap: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .speed__body {
    row-gap: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (row-gap: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .speed__body {
    row-gap: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

.speed__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47.5%;
          flex: 0 0 47.5%;
}

.speed__item_md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.speed__title {
  font-size: 2.25rem;
  line-height: 1.1666666667;
  color: #B70021;
}

.speed__title_first {
  margin: 0rem 0rem 6.25rem 0rem;
}

.speed__title_last {
  text-align: right;
}

.speed__text_first {
  max-width: 19.375rem;
}

.speed__text_last {
  padding: 6.25rem 0rem 0rem 0rem;
  margin: 0rem 0rem 2.5rem 0rem;
}

.speed__image {
  padding-bottom: 70%;
}

.intro {
  margin: 0rem 0rem 6.25rem 0rem;
}

.intro__image {
  padding-bottom: 50%;
  margin: 0rem 0rem 6.25rem 0rem;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47.5%;
          flex: 0 0 47.5%;
}

.intro__num {
  color: #B70021;
  margin: 0rem 0rem 0.625rem 0rem;
}

.intro__text {
  max-width: 28.125rem;
  padding: 0rem 0rem 0rem 6.25rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .header {
    margin: 0rem 0rem 6.5625rem 0rem;
  }
}

@media (max-width: 76.875em) {
  .speed__text_last {
    padding: 0rem 0rem 0rem 0rem;
  }
}

@media (max-width: 61.99875em) {
  .header__slider {
    height: 37.5rem;
  }

  .speed__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .speed__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .speed__item:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .speed__title_last {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }

  .speed__title {
    margin: 0rem 0rem 2.5rem 0rem;
    padding: 0rem 0rem 0rem 3.125rem;
  }

  .speed__text_last {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0rem 0rem 0rem 0rem;
  }

  .speed__text {
    padding: 0rem 0rem 0rem 3.125rem;
  }

  .intro__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0rem 0rem 3.125rem 0rem;
    padding: 0rem 0rem 0rem 3.125rem;
  }

  .intro__text {
    max-width: 100%;
    padding: 0rem 0rem 0rem 3.125rem;
  }
}

@media (max-width: 47.9375em) {
  .header {
    height: inherit;
  }
}

@media (max-width: 47.99875em) {
  .header__slider {
    height: 25rem;
  }

  .header__slide {
    padding-bottom: 39%;
  }

  .header__inner {
    padding: 18.75rem 0rem 0rem 0rem;
    margin: 0rem 0rem 3.125rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__text {
    text-align: center;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__item:not(:last-child)::after {
    display: none;
  }

  .footer__item {
    margin: 0.625rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
  }

  .swiper-pagination {
    display: none;
  }

  .tech__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 46.75em) {
  .swiper-pagination {
    left: inherit;
  }
}

@media (max-width: 29.99875em) {
  .header__slider {
    height: 18.75rem;
  }

  .header__slide {
    padding-bottom: 29%;
  }

  .header__logo-img {
    width: 50%;
  }

  .header__inner {
    padding: 12.5rem 0rem 0rem 0rem;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__list {
    padding: 0rem 1.5625rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .bg {
    display: none;
  }

  .tech__info {
    margin: 0rem 0rem 3.125rem 0rem;
  }

  .speed {
    margin: 0rem 0rem 3.125rem 0rem;
  }

  .speed__title {
    padding: 0rem 0rem 0rem 0rem;
  }

  .speed__text {
    padding: 0rem 0rem 0rem 0rem;
  }

  .intro {
    margin: 0rem 0rem 3.125rem 0rem;
  }

  .intro__image {
    margin: 0rem 0rem 3.125rem 0rem;
  }

  .intro__item {
    padding: 0rem 0rem 0rem 0rem;
  }

  .intro__text {
    padding: 0rem 0rem 0rem 0rem;
  }
}

@media (any-hover: hover) {
  .menu__item {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__item:hover {
    border-bottom: 0.0625rem solid #fff;
  }

  .footer__item:hover {
    text-decoration: underline;
  }

  .btn {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .btn:hover {
    background-color: #690102;
    border: 0.0625rem solid #690102;
  }

  .btn-f:hover {
    background-color: #0B0B0B;
  }
}